html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        list-style-type: none;
}
body{
    background-color:rgb(40, 40, 40);
}
.text-h{
    font-size: 32px;
    text-align: center;
    color:white;
}
/* navigation links */
.nav-container{
    background-color: rgb(50, 49, 49,0.90);
}
.nav{
    display:flex;
    gap:1rem;
    justify-content: center;
}
.nav-link{
    display:inline-block;
    text-decoration: none;
    color:rgb(220, 220, 220);
    padding:.8rem;
}
.nav-link:hover{
    color:rgb(183, 183, 46);
    background-color:rgb(21, 21, 21);
    border-radius:3px;
}
.main-content{
}
/* hero version 1 */
.hero-container{
    background-color:rgb(40,40,40,.8);
    border:1px solid rgb(132, 109, 109);
    font-size:18px;
    display:grid;
    grid-template-columns: 100px auto;
    min-height: 80svh;
}
.sidebar-container{
    background-color:white;
    display:flex;
    justify-content: center;
    max-width:80px;

}
/* sidebar of hero */
.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    border-radius:5px;
    background-color:rgba(249, 249, 249, 0.1);


    border:1px solid rgba(191, 191, 191, 0.1);
}
.sidebar> li{
    width:100%;
    padding:1.5rem 0 1.5rem 0;
    text-align: center;
    border-bottom:1px solid rgb(104, 104, 25);
    display:block;
}

/* about me sectino */
.aboutMe{
    display:flex;
    flex-direction: column;
    text-align: center;
    min-height: 40vh;
    padding:4rem;
}
.about-info{
    text-align: left;
    line-height: 1.5;
}
