html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        list-style-type: none;
}
body{
    background-color:rgb(40, 40, 40);
}
/* navigation links */
.nav-container{
    background-color: rgb(50, 49, 49,0.90);
}
.nav{
    display:flex;
    gap:1rem;
    justify-content: center;
}
.nav-link{
    display:inline-block;
    text-decoration: none;
    color:rgb(220, 220, 220);
    padding:.6rem;
}
.nav-link:hover{
    color:rgb(183, 183, 46);
    background-color:rgb(21, 21, 21);
}
.main-content{
    padding:2rem;
}
/* hero version 1 */
.hero-container{
    background-color:rgb(40,40,40,.8);
    border:1px solid rgb(132, 109, 109);
    font-size:18px;
    display:flex;
}
/* sidebar of hero */
.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    width:100px;
    border:1px solid white;
}
.sidebar> li{
    width:100%;
    padding:1.5rem 0 1.5rem 0;
    text-align: center;
    border-bottom:1px solid rgb(104, 104, 25);
    display:block;
}
